<%- include("template/cabecera", {tituloWeb: 'Página de Inicio Cliente' }) %>

    <div class="container">

        <h1>CRUD Clientes</h1>

        <br>

        <a class="btn btn-dark" href="clientes/crear" role="button"> Crear Nuevo Cliente </a>

    </div>

    <br>

    <div class="container">

        <h2>Clientes</h2>

        <table class="table">

            <thead>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">ACCIÓN</th>
            </thead>
            <tbody>

                <div>
                    <% if (arrayClientes.length>0) { %>
                        <% arrayClientes.forEach( cliente=> { %>
                            <tr>
                                <th>
                                    <%= cliente.id %>
                                </th>
                                <th>
                                    <%= cliente.nombre %>
                                </th>
                                <th>
                                    <%= cliente.apellido %>
                                </th>
                                <th>
                                    <a class="btn btn-primary btn-sm" href="clientes/verCliente/<%= cliente.id %>"
                                        role="button">
                                        Modificar Cliente
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="" role="button">
                                        Eliminar Cliente
                                    </a>
                                </th>
                            </tr>

                            <% }) %>
                                <% } %>
                </div>

            </tbody>

        </table>

    </div>

    <%- include("template/footer") %>